.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  min-width: 120px;
  height: 40px;
  padding: 0 15px;

  font-size: 20px;
  color: var(--slate-50);

  &--green {
    background: var(--green-500);

    &:hover {
      background: var(--green-700);
    }
  }

  &--blue {
    background: var(--blue-500);

    &:hover {
      background: var(--blue-700);
    }
  }

  &--red {
    background: var(--red-500);

    &:hover {
      background: var(--red-700);
    }
  }
}