.container {
  --container-gap: 20px;

  width: 100%;
  max-width: calc(1200px + var(--container-gap) * 2);
  margin: 0 auto;
  padding: 0 var(--container-gap);

  @media (max-width: 421px) {
    --container-gap: 10px;
  }
}