.home {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 5px;
  }

  &__title-icon {
    width: 80px;
    color: var(--slate-400);
  }

  &__show-more {
    text-align: center;
  }
}